{% extends 'base.html.twig' %}

{% block title %}Edit site!{% endblock %}

{% block body %}

    <div class="h-100 d-flex align-items-center justify-content-center flex-column">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit site</li>
            </ol>
        </nav>

        <h1 class="lead display-4 mb-5">Edit site</h1>
        <form action="" method="post" class="w-25">
            {{  form_start(form) }}
            {{  form_widget(form) }}
            <button type="submit" class="btn btn-success"><i class="fa fa-check mr-2"></i>Register !</button>
            {{  form_end(form) }}
        </form>
    </div>
{% endblock %}
