{% extends 'base.html.twig' %}

{% block title %}Registration!{% endblock %}

{% block body %}
    <div class="h-100 d-flex align-items-center justify-content-center flex-column">
        <h1 class="lead display-4 mb-5">Registration</h1>
        <form action="" method="post" class="w-25">
            {{  form_start(form) }}
            {{  form_widget(form) }}
            <button type="submit" class="btn btn-success">Register !</button>
            {{  form_end(form) }}
        </form>
    </div>
{% endblock %}
