{% extends 'base.html.twig' %}

{% block title %}Registration!{% endblock %}

{% block body %}
    <div class="container-fluid w-50 h-100 mt-5">
        <h1 class="lead display-4 mb-5">Registration</h1>
        <form action="" method="post">
            {{  form_start(form) }}
            {{  form_widget(form) }}
            <button type="submit" class="btn btn-success">Register !</button>
            {{  form_end(form) }}
        </form>
    </div>
{% endblock %}
