{% extends 'base.html.twig' %}

{% block title %}Hello Controller!{% endblock %}

{% block body %}
<style>
    .example-wrapper {margin: auto ; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper h-100 d-flex align-items-center justify-content-center flex-column">
    <div>
        <h1>Hello Visitor ✅</h1>

        Welcome to your new site administrator,
        in this app you'll be able to :
    </div>
    <div>
        <ul class="mt-2">
            <li>Create, update and delete your sites in orders to manage them</li>
            <li>Be aware of the validity and status of your sites thanks to a email sending system</li>
            <li>update all of your site with only one command</li>
        </ul>
    </div>


</div>
{% endblock %}
